FLOWPAY_PAYMENTS_DSN=postgres://flowpay:flowpay@127.0.0.1:5432/flowpay?sslmode=disable
FLOWPAY_PAYMENTS_ADDR=:8081
FLOWPAY_PAYMENTS_JWT_SECRET=
FLOWPAY_PAYMENTS_PUBLIC_BASE_URL=
FLOWPAY_PAYMENTS_FRONTEND_BASE_URL=http://localhost:5173
FLOWPAY_PAYMENTS_TRANSBANK_ENV=integration
FLOWPAY_PAYMENTS_TRANSBANK_COMMERCE_CODE=597055555532
FLOWPAY_PAYMENTS_TRANSBANK_API_KEY=579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C
